/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Swiper container */
.swiperMain {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-color: #e8f8ff8e; */
  /* background: white; */
  margin-bottom: 0;
}
.PopupMain {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background: white; */
  margin-bottom: 0;
}

/* Slide item */
.slideItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.slideImage {
  height: 550px;
  display: block;
  width: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 0.25rem; /* 4px rounded */
}
.modelImage {
  max-height: 80vh;  /* Giới hạn chiều cao modal */
  max-width: 80vw;   /* Giới hạn chiều rộng */
  display: block;
  width: auto;       /* Đảm bảo không méo ảnh */
  height: auto;
  object-fit: contain; /* Hiển thị toàn bộ ảnh */
  object-position: center;
  border-radius: 0.25rem;
}

.productImage {
  width: 100%; /* Hoặc một kích thước cụ thể ví dụ: 300px */
  height: 500px; /* Đặt chiều cao cố định để đảm bảo đồng đều */
  display: block; /* Đảm bảo ảnh không bị inline */
  object-fit: cover; /* Cắt ảnh theo kích thước khung */
  object-position: center; /* Đặt tâm ảnh trong khung */
  border-radius: 8px; /* Thêm bo góc nếu cần */
  overflow: hidden;
}

/* Thumbnail styles */
.thumbs {
  margin-top: 1rem; /* 16px */
  height: 100%; /* 32 in Tailwind */
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  /* background-color: #e8f8ff; */
  /* background-color: white; */
}

.thumbItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: #e8f8ff; /* Light gray */
}

.thumbImage {
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.25rem; /* 4px rounded */
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.thumbImage:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  opacity: 0.9;
}

@media (max-width: 991px) {
  .slideImage {
    height: 500px;
  }
  .thumbs {
    margin-top: 1rem; /* 16px */
    height: 140px; /* 32 in Tailwind */
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #eae7dc;
  }
}
