.cartContainer {
  width: 100%;
  max-width: 1151px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  margin: 54px auto 0;
  color: #000;
}

.cartLayout {
  display: flex;
  gap: 20px;
}

.cartItemsColumn {
  width: 50%;
}
.emptyCartMessage {
  font-size: 1.2rem;
  color: #888;
  text-align: center;
  margin-top: 20px;
}
.quality{
  display: flex;
  flex-direction: column;
}
.disable {
  opacity: 0.5; /* Làm mờ phần tử */
  pointer-events: none; /* Ngăn người dùng tương tác */
  cursor: not-allowed; /* Hiển thị con trỏ không cho phép */
}

.cartItemsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
  height: 700px;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px 0;
}
.cartItemsList::-webkit-scrollbar {
  width: 6px; /* Kích thước chiều rộng của thanh cuộn */
  height: 6px; /* Kích thước chiều cao của thanh cuộn (dành cho cuộn ngang nếu cần) */
}

.cartItemsList::-webkit-scrollbar-thumb {
  background-color: #88888825; /* Màu sắc của thanh cuộn */
  border-radius: 10px; /* Bo tròn góc thanh cuộn */
}

.cartItemsList::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Màu sắc khi hover lên thanh cuộn */
}

.cartItem {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  border: 1px solid #add8e6;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.productImage {
  aspect-ratio: 0.89;
  object-fit: contain;
  width: 222px;
}

.productDetails {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  width: 301px;
}

.productHeader {
  font-family:
    Montserrat,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.productTitle {
  color: #000;
  margin: 0;
}

.productPrice {
  color: #009dfe;
  display: block;
  margin-top: 16px;
}

.productOptions {
  margin-top: 99px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.quantityControls {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
}

.quantityWrapper {
  display: flex;
  align-items: center;
}

.quantityButton {
  border: 0.5px solid #e4e4e4;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
}

.quantity {
  border: 0.5px solid #e4e4e4;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.summaryColumn {
  width: 50%;
}

.summaryContainer {
  background-color: #e6e5e5cb;
  padding: 32px;
  width: 90%;
}

.promoSection {
  max-width: 447px;
}

.promoTitle {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.promoForm {
  display: flex;
  margin-top: 16px;
}

.promoInput {
  flex-grow: 1;
  border: 0.5px solid #e4e4e4;
  padding: 14px 16px;
  font-family: Poppins, sans-serif;
}

.promoButton {
  background-color: #009dfe;
  color: #fff;
  border: none;
  padding: 14px 34px;
  cursor: pointer;
}

.divider {
  border: none;
  border-top: 1px solid #b3b3b3;
  margin: 24px 0;
}

.summaryDetails {
  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.totalLabel {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.totalAmount {
  font-family:
    Montserrat,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.checkoutButton {
  width: 100%;
  background-color: #009dfe;
  color: #fff;
  border: none;
  padding: 12px;
  margin-top: 35px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 998px) {
  .cartContainer {
    max-width: 100%;
    margin-top: 40px;
    height: auto;
  }

  .cartLayout {
  }

  .cartItemsColumn,
  .summaryColumn {
  }
  .cartItemsList {
    height: 550px;
  }
  .cartItem {
    max-width: 100px;
  }
}

@media (max-width: 480px) {
  .cartContainer {
    max-width: 100%;
    margin-top: 0px;
    height: auto;
  }
  .summaryContainer{
    width: 100%;
  }

  .cartLayout {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .cartItemsColumn {
    order: 1;
  }
  .summaryColumn {
    order: 2;
  }
  .cartItemsColumn {
    width: 100%;
    margin-top: 20px;
  }
  
  .summaryColumn{
    width: 100%;
    margin-top: 0px;
  }
  .cartItem {
    max-width: 150px;
  }
  .cartItemsList {
    height: auto;
    max-height: 420px;
  }
  .summaryContainer {
    padding: 20px;
    height: 250px;
  }
  .totalAmount {
    font-size: 15px;
  }
  .totalRow,
  .summaryDetails,
  .promoSection {
    font-size: 12px;
  }

  .promoButton {
    padding-left: 20px;
  }

  .productOptions {
    margin-top: 40px;
  }
  .checkoutButton,
  .totalRow,
  .divider {
    margin: 10px;
  }
  .totalRow {
    margin-left: 0px;
  }
  .checkoutButton {
    margin-left: 0px;
  }
  .quantityWrapper {
    font-size: 12px;
  }
  .productHeader,
  .productDetails {
    font-size: 15px;
  }
  .productOptions {
    margin-top: 20px;
  }
  .quantity {
    width: 30px;
    height: 30px;
  }
  .quantityButton {
    width: 30px;
    height: 30px;
  }
  .cartItem {
    display: flex;
    align-items: flex-start;
    border: none;
    padding: 0px;
    gap: 6px;
    border-radius: 0px;
    box-shadow: none;
  }
  .quantityControls {
    justify-content: start;
  }
  .productDetails {
    min-width: 138px;
  }
}
