.card {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 270px;
  }
  
  .imageContainer {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    aspect-ratio: 0.894;
    width: 270px;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 144px 27px;
  }
  
  .productImage {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
 
  
  .productInfo {
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font: 600 16px Poppins, sans-serif;
  }
  
  .price {
    color: #009dfe;
    margin-top: 8px;
  }
  
  @media (max-width: 991px) {
    .imageContainer {
      padding: 100px 20px;
    }
    
    .badgeIcon {
      margin-bottom: 10px;
    }
  }