/* styles.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9fafb;
  }
  
  .formWrapper {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .formTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
  }
  
  .inputField {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    transition: border-color 0.2s;
  }
  
  .inputField:focus {
    outline: none;
    border-color: #4f46e5;
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
  }
  
  .submitButton {
    width: 100%;
    background-color: #4f46e5;
    color: white;
    font-size: 1rem;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:disabled {
    background-color: #d1d5db;
    cursor: not-allowed;
  }
  
  .submitButton:hover:not(:disabled) {
    background-color: #4338ca;
  }
  .backLink {
    display: block; /* Để đảm bảo nó nằm trên một dòng riêng */
    margin-bottom: 16px; /* Khoảng cách phía trên */
    text-align: start; /* Canh giữa */
    color: #007bff; /* Màu xanh lam */
    font-size: 14px; /* Cỡ chữ nhỏ */
    font-weight: bold; /* Chữ đậm */
    text-decoration: none; /* Loại bỏ gạch dưới */
    transition: color 0.3s ease; /* Hiệu ứng hover */
  }
  
  .backLink:hover {
    color: #0056b3; /* Đổi màu khi hover */
    text-decoration: underline; /* Gạch chân khi hover */
  }
  
  @media (max-width: 360px) {
    .formWrapper {
      padding: 15px;
    }
  
    .formTitle {
      font-size: 1.25rem;
    }
  
    .inputField {
      font-size: 0.9rem;
    }
  
    .submitButton {
      font-size: 0.9rem;
    }
  }
  